<?xml version="1.0"?>
<config>
    <modules>
        <Murtza_Catalog>
            <version>0.1.0</version>
        </Murtza_Catalog>
    </modules>
    <global>
        <models>
            <murtza_catalog>
                <class>Murtza_Catalog_Model</class>
            </murtza_catalog>
            <catalog>
                <rewrite>
                    <product_type_configurable_attribute>Murtza_Catalog_Model_Product_Type_Configurable_Attribute</product_type_configurable_attribute>
                </rewrite>
            </catalog>
        </models>
    </global>   
</config>